body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    -webkit-user-select: none;
    /* Para navegadores basados en WebKit */
    -moz-user-select: none;
    /* Para navegadores basados en Gecko */
    -ms-user-select: none;
    /* Para navegadores basados en Trident/EdgeHTML */
    user-select: none;
    /* Para navegadores estándar */
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 0px 50px 10px 50px;
    background: -webkit-linear-gradient(120deg, hsl(0, 71%, 35%), hsl(0, 3%, 6%));
    text-align: center;
}

footer {
    padding: 1rem 10rem 1rem 10rem;
    text-align: center;
    background-color: #000000;
    color: white;
}

.icono-hover {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.icono-hover:hover {
    transform: translateY(-5px);
}

.icono-hover i.fa-github {
    font-size: 30px;
}


.inicio {
    text-align: center;
}

img#skull {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.5s ease;
}

img#skull:hover {
    animation-name: buzz-out;
    animation-duration: 0.8s;
}

@keyframes buzz-out {
    0% {
        transform: rotate(0deg) scale(1, 1);
    }

    10% {
        transform: rotate(7deg) scale(2, 2);
    }

    20% {
        transform: rotate(-7deg) scale(2, 2);
    }

    30% {
        transform: rotate(7deg) scale(2, 2);
    }

    40% {
        transform: rotate(-7deg) scale(2, 2);
    }

    50% {
        transform: rotate(7deg) scale(2, 2);
    }

    60% {
        transform: rotate(-7deg) scale(2, 2);
    }

    70% {
        transform: rotate(7deg) scale(2, 2);
    }

    80% {
        transform: rotate(-7deg) scale(2, 2);
    }

    90% {
        transform: rotate(7deg) scale(2, 2);
    }

    100% {
        transform: rotate(0deg) scale(1, 1);
    }
}

.container p {
    text-align: center;
    color: white;
    margin-top: 0;
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

p {
    color: white;
    font-size: 1.1rem;
}

/* TITULO CON EFECTO HOVER */

h1 {
    font-size: 6vw;
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: #ffffff;
}

h1:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(0, 100%, 50%), hsl(56, 46%, 17%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0;
}

#titulo h1{
    margin-bottom: 10px;
}

#tituloE {
    margin-right: 20px;
}

@media (max-width: 768px) {
    #titulo {
        padding: 0 30px;
    }
}

@media (max-width: 480px) {
    #titulo {
        padding: 0 20px;
    }
}


/* JUEGOS CARDS */

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 10px;
    justify-items: center;
}

.card {
    position: relative;
    background-color: #2e222288;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: rotateY(20deg);
}

.card img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    pointer-events: none;
}

.card h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.inactive-card {
    background-color: rgb(163, 23, 23);
    transform: rotateX(0) rotateY(0);
}

/* Media query para hacer responsive */
@media (max-width: 768px) {

    .card img {
        width: 300px;
    height: 350px;
    }
}
